[Unit]
Description=Run TeamCity backup daily at 20:00 node time (UTC)

[Timer]
OnCalendar=*-*-* 20:00:00
Persistent=true

[Install]
WantedBy=timers.target
